<div class="box-heading-top">
  <div class="box-icon-heading">
    <div class="box-icon-inner type-img">
      <div class="wrap-icon">
        <div class="box-icon box-icon-style-simple">
          <span>
            <img src="{{ block.settings.image | img_url: 'master'}}">
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="box-heading">
    <h5 class="icon-heading">{{ block.settings.title }}</h5>
  </div>
</div>
<div class="box-contents">
  <div class="box-description">
    <p>{{ block.settings.text }}</p>
  </div>
</div>
