<div class="box-icon-left">
  <div class="box-icon-inner type-icon">
    <div class="wrap-icon">
      <div class="box-icon box-icon-style-simple">
        <span><img src="{{ block.settings.image | img_url: 'master'}}"></span>
      </div>
    </div>
  </div>
</div>
<div class="box-contents">
  <div class="box-heading">
    <h5>{{ block.settings.title }}</h5>
  </div>
  <div>
    <p>{{ block.settings.text }}</p>
  </div>
</div>
