<div id="svg-defs" class="svg-defs d-none">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <defs>
    <symbol id="karic-arrow-left" viewBox="0 0 32 32">
    <title>arrow-left</title>
    <path stroke-width="2" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="round" d="M31 16h-30"></path>
    <path stroke-width="2" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="round" d="M11 6l-10 10 10 10"></path>
    </symbol>
    <symbol id="karic-arrow-right" viewBox="0 0 32 32">
    <title>arrow-right</title>
    <path stroke-width="2" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="round" d="M1 16h30"></path>
    <path stroke-width="2" stroke-miterlimit="4" stroke-linecap="round" stroke-linejoin="round" d="M21 6l10 10-10 10"></path>
    </symbol>
    <symbol id="karic-header-users" viewBox="0 0 32 32">
    <title>header-users</title>
    <path d="M16 6.667c-3.733 0-6.667 2.933-6.667 6.667v2.667c0 3.733 2.933 6.667 6.667 6.667s6.667-2.933 6.667-6.667v-2.667c0-3.733-2.933-6.667-6.667-6.667zM20 16c0 2.267-1.733 4-4 4s-4-1.733-4-4v-2.667c0-2.267 1.733-4 4-4s4 1.733 4 4v2.667z"></path>
    <path d="M16 0c-8.8 0-16 7.2-16 16s7.2 16 16 16c8.8 0 16-7.2 16-16s-7.2-16-16-16zM10.133 28c1.067-0.8 2.533-1.333 3.867-1.333h4c1.467 0 2.8 0.4 3.867 1.333-1.733 0.933-3.733 1.333-5.867 1.333s-4.133-0.533-5.867-1.333zM24.267 26.4c-1.733-1.6-4-2.4-6.267-2.4h-4c-2.4 0-4.533 0.933-6.267 2.4-3.067-2.4-5.067-6.133-5.067-10.4 0-7.333 6-13.333 13.333-13.333s13.333 6 13.333 13.333c0 4.267-2 8-5.067 10.4z"></path>
    </symbol>
    <symbol id="karic-mini-cart" viewBox="0 0 32 32">
    <title>mini-cart</title>
    <path d="M2.251 31.427h26.189c0.393 0 0.786-0.131 1.048-0.393s0.393-0.655 0.262-1.048l-2.619-20.951c-0.131-0.655-0.655-1.179-1.309-1.179h-3.928v-1.309c0-3.667-2.881-6.547-6.547-6.547s-6.547 2.881-6.547 6.547v1.309h-3.928c-0.655 0-1.179 0.524-1.309 1.179l-2.619 20.951c0 0.393 0.131 0.786 0.262 1.048 0.262 0.262 0.655 0.393 1.048 0.393zM11.417 6.547c0-2.226 1.702-3.928 3.928-3.928s3.928 1.702 3.928 3.928v1.309h-7.857v-1.309zM6.048 10.476h2.75v2.619c0 0.786 0.524 1.309 1.309 1.309s1.309-0.524 1.309-1.309v-2.619h7.857v2.619c0 0.786 0.524 1.309 1.309 1.309s1.309-0.524 1.309-1.309v-2.619h2.75l2.357 18.332h-23.308l2.357-18.332z"></path>
    </symbol>
    <symbol id="karic-search-icon" viewBox="0 0 32 32">
    <title>search-icon</title>
    <path d="M14 28c-7.72 0-14-6.28-14-14s6.28-14 14-14c7.72 0 14 6.28 14 14s-6.28 14-14 14zM14 4c-5.514 0-10 4.486-10 10s4.486 10 10 10c5.514 0 10-4.486 10-10s-4.486-10-10-10z"></path>
    <path d="M31.414 28.586l-4.786-4.786c-0.822 1.058-1.77 2.006-2.828 2.828l4.786 4.786c0.39 0.39 0.902 0.586 1.414 0.586s1.024-0.196 1.414-0.586c0.782-0.782 0.782-2.046 0-2.828z"></path>
    </symbol>
    <symbol id="karic-empty_cart" viewBox="0 0 32 32">
      <title>empty_cart</title>
        <path fill="currentColor" d="M1.269 30.912h29.277l-6.332-19.093h-16.601l-6.343 19.093zM31.284 31.973h-30.753c-0.171 0-0.332-0.086-0.428-0.223-0.107-0.138-0.128-0.309-0.075-0.478l6.685-20.154c0.075-0.212 0.278-0.361 0.503-0.361h17.382c0.235 0 0.439 0.149 0.513 0.361l6.685 20.154c0.053 0.17 0.021 0.34-0.075 0.478-0.107 0.137-0.267 0.223-0.439 0.223v0z"></path>
        <path fill="currentColor" d="M10.961 17.856c0 0.391-0.317 0.707-0.707 0.707s-0.707-0.317-0.707-0.707c0-0.391 0.317-0.707 0.707-0.707s0.707 0.317 0.707 0.707z"></path>
        <path fill="currentColor" d="M22.099 17.856c0 0.391-0.317 0.707-0.707 0.707s-0.707-0.317-0.707-0.707c0-0.391 0.317-0.707 0.707-0.707s0.707 0.317 0.707 0.707z"></path>
        <path fill="currentColor" d="M21.583 15.389c-0.296 0-0.529-0.233-0.529-0.53v-9.681c0-2.547-1.672-4.118-4.381-4.118h-1.323c-2.349 0-4.879 1.284-4.879 4.118v9.681c0 0.296-0.233 0.53-0.529 0.53s-0.529-0.233-0.529-0.53v-9.681c0-3.004 2.498-5.178 5.937-5.178h1.323c3.302 0 5.44 2.027 5.44 5.178v9.681c0 0.296-0.233 0.53-0.529 0.53z"></path>
        <path fill="none" stroke="currentColor" stroke-width="0.884" stroke-miterlimit="4" stroke-linecap="butt" stroke-linejoin="miter" d="M10.31 25.573c3.898-3.448 6.787-3.6 11.232-0.704"></path>
    </symbol>
    <symbol id="karic-button_arrow" viewBox="0 0 60 32">
      <title>button_arrow</title>
      <path fill="currentColor" d="M48.113 30.541c-0.205 0-0.41-0.082-0.588-0.203-0.45-0.321-0.548-0.962-0.221-1.405l9.61-13.212-9.61-13.212c-0.327-0.442-0.229-1.082 0.221-1.403s1.076-0.223 1.401 0.219l10.039 13.814c0.257 0.343 0.257 0.823 0 1.167l-10.039 13.812c-0.195 0.263-0.502 0.424-0.813 0.424z"></path>
      <path fill="currentColor" d="M58.229 16.725h-56.221c-0.554 0-1.004-0.442-1.004-1.004 0-0.56 0.45-1.004 1.004-1.004h56.221c0.554 0 1.004 0.444 1.004 1.004 0 0.562-0.45 1.004-1.004 1.004z"></path>
    </symbol>
    <symbol id="karic-contact_pin" viewBox="0 0 20 20">
      <path d="M19.447.581a1.395 1.395 0 0 0-1.545-.274L1.158 7.795a1.395 1.395 0 0 0 .237 2.628l6.665 1.642 2.093 6.68c.176.56.684.95 1.27.976h.065c.563 0 1.071-.337 1.289-.856l6.976-16.744a1.395 1.395 0 0 0-.306-1.54zm-7.963 17.745l-2.326-7.442-7.442-1.828L18.46 1.567l-6.976 16.759z" fill="currentColor" fill-rule="evenodd"/>
    </symbol>
    <symbol id="karic-contact_email" viewBox="0 0 26 20">
      <path d="M23.84.229H2.126C1.179.229.41.996.41 1.943v16c0 .947.768 1.714 1.715 1.714H23.84c.947 0 1.714-.767 1.714-1.714v-16c0-.947-.767-1.714-1.714-1.714zm0 16.502l-4.537-4.537a.857.857 0 0 0-1.212 1.212l4.538 4.537H3.337l4.537-4.537a.857.857 0 0 0-1.211-1.212l-4.537 4.537v-11l10.285 7.755a.857.857 0 0 0 1.029 0l10.389-7.76.011 11.005zm0-14.788v1.646L12.943 11.73 2.126 3.59V1.943H23.84z" fill="currentColor" fill-rule="evenodd"/>
    </symbol>
    <symbol id="karic-contact_phone" viewBox="0 0 22 22">
      <path d="M16.238 13.381l-2.857 2.857-7.62-7.619L8.62 5.762 3.857 1 1 3.857C1 13.325 8.675 21 18.143 21L21 18.143l-4.762-4.762z" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>
    <symbol id="karic-contact_time">
      <g stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
      <path d="M12 1c6.075 0 11 4.925 11 11s-4.925 11-11 11S1 18.075 1 12 5.925 1 12 1z"/>
      <path d="M12 6v6h6"/>
      </g>
    </symbol>
    <symbol id="karic-angle_next" viewBox="0 0 6 10">
      <path d="M.5.5L5 5 .5 9.5" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/>
    </symbol>
    <symbol id="karic-play-video" viewBox="0 0 21 25">
      <path d="M.508 24.8a.528.528 0 0 1-.245-.06.508.508 0 0 1-.255-.439v-23C.008 1.12.105.95.263.87.42.78.613.78.767.87l19.053 11.5c.151.09.243.25.243.43s-.092.341-.243.43L.767 24.73a.479.479 0 0 1-.259.07" fill="currentColor" fill-rule="evenodd"/>
    </symbol>
  </defs>
  </svg>
</div>
