<div class="nova-container">
  <div class="row block_heading">
    <div class="col-xs-12">
      <h3 class="block_heading--title">{{ 'products.general.related_products' | t }}</h3>
    </div>
  </div>
</div>
{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
{% assign found_a_collection = false %}
{% for c in product.collections %}
{% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
{% assign found_a_collection = true %}
{% assign collection = c %}
{% endif %}
{% endfor %}
{% endif %}
{% if collection and collection.products_count > 1 %}
<div class="category-products">
  {% assign carousel = settings.related_product_carousel %}
  {% assign limit = settings.related_product_limit | plus: 1 %}
  {% if settings.related_product_column != '5' and settings.related_product_column != '7' %}
  {% assign col = 12 | divided_by: settings.related_product_column %}
  {% else %}
  {% assign col = settings.related_product_column %}
  {% endif %}
  {% if carousel %}
  <div class="slick-carousel full-width-slide products-grid" data-slick='{"slidesToShow":4,"slidesToScroll":1,"dots":false,"autoplaySpeed":5000,"speed":300,"infinite":true,"arrows":false,"swipe":true,"draggable":true,"touchMove":true,"pauseOnHover":false,"centerMode":true,"centerPadding":"10%","responsive":[{"breakpoint":1824,"settings":{"slidesToShow":4,"slidesToScroll":1}},{"breakpoint":1200,"settings":{"slidesToShow":2,"slidesToScroll":1}},{"breakpoint":992,"settings":{"slidesToShow":2,"slidesToScroll":1}},{"breakpoint":768,"settings":{"slidesToShow":2,"slidesToScroll":1}},{"breakpoint":480,"settings":{"slidesToShow":1,"slidesToScroll":1}}],"pauseOnDotsHover":true}'>
    {% else %}
    <ul class="products-grid columns{{settings.related_product_column}}">
      {% endif %}
      {% assign current_product = product %}
      {% assign current_product_found = false %}
      {% for product in collection.products limit: limit %}
      {% if product.handle == current_product.handle %}
      {% assign current_product_found = true %}
      {% else %}
      {% unless current_product_found == false and forloop.last %}
      {% if carousel %}
      <div class="item product">
        {% else %}
        <li class="item product product-layout-grid">
          {% endif %}
          {% include 'product-grid-item' %}
          {% if carousel %}
      </div>
      {% else %}
      </li>
    {% endif %}


    {% endunless %}
    {% endif %}
    {% endfor %}
    {% if carousel %}
  </div>
  {% else %}
  </ul>
  {% endif %}
</div>
{% endif %}
