{% capture to_date %}{% include 'shortcode-render' render:'to_date' default:'' %}{% endcapture %}
<div class="shortcode-countdown">
    <div class="product-date clearfix" data-date="{{ to_date }}"></div>
</div>
