<a class="action-icon link-wishlist action--wishlist tile-actions--btn  wishlist-btn" href="javascript:;" data-product-handle="{{ product.handle }}" data-toggle="tooltip" title="{{ 'products.product.add_to_wishlist' | t }}">
    {{ 'products.product.add_to_wishlist' | t }}
</a>
