{% if section.settings.enable == true %}
<div data-section-id="{{ section.id }}" class="section__aboutus-banner-contact">
  <div class="aboutus-banner-contact">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2 class="banner--title">{{ section.settings.banner_title }}</h2>
          {% if section.settings.banner_button != blank and section.settings.banner_button_url != blank %}
            <a class="nova-button btn-lg rounded uppercase shadow-hover" href="{{ section.settings.banner_button_url }}">{{ section.settings.banner_button }}</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Banner Contact",
  "settings": [
    {
      "type": "header",
      "content": "Banner Settings"
    },
    {
      "type": "checkbox",
      "id": "enable",
      "label": "Enable Banner",
      "default": true
    },
    {
      "type": "text",
      "id": "banner_title",
      "label": "Banner Title"
    },
    {
      "type": "text",
      "id": "banner_button",
      "label": "Banner Button"
    },
    {
      "type": "text",
      "id": "banner_button_url",
      "label": "Banner Button URL"
    }
  ],
  "presets": [
    {
      "name": "Banner Contact",
      "category": "AboutUs Page"
    }
  ]
}
{% endschema %}
